body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
  color: #fff;
}

.menu-button-solid-strip {
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.menu-button-clear-strip {
  height: 6px;
  width: 100%;
}

.bottom-shadow {
  -moz-box-shadow: 0 4px 3px -4px black;
  -webkit-box-shadow: 0 4px 3px -4px black;
  box-shadow: 0 4px 3px -4px black;
}

.top-bar-options {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: #05284b;
}

.top-bar-options-container {
  max-width: 1200px;
  margin: auto;
  opacity: 0;
}

.top-bar-option {
  height: 60px;
  line-height: 60px;
  width: 20%;
  float: left;
  text-align: center;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  text-shadow: 1px 1px #000;
  cursor: pointer;
}

.dropdown-more-results {
  width: 103%;
  margin-left: -2%;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'myriad-thin';
  font-size: 24px;
  border: solid 2px;
  border-color: #333;
  background-color-color: rgba(3, 26, 48, 0.2);
  cursor: pointer;
}

.menu-button-container {
  width: 30px;
  float: left;
  margin-top: 18px;
  margin-left: 18px;
  cursor: pointer;
}

.dropdown-price {
  right: 2%;
  position: absolute;
}

.dropdown-title {
  margin-left: 15px;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.content-bg {
  background-color: rgb(241, 241, 241);
  padding-top: 20px;
  width:100%;
  padding-bottom: 50px;
  position: absolute;
  margin-top: 100px;
}

.content-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}

.shopping-list-item-container {
  width: 100%;
  height: 70px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  font-family: 'myriad-thin';
  color: #000;
  opacity: 0;
  position: relative;
}

.shopping-list-item-delete {
  position: absolute;
  right: -28px;
  top: -5px;
  font-size: 28px;
  color: rgba(0,0,0,0.5);
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.shopping-list-item-container:hover .shopping-list-item-delete {
  opacity: 1;
}

.total-cost-container {
  z-index: 9999;
  position: fixed;
  bottom: 2px;
  width: 1100px;
  height: 60px;
  font-family: "myriad-thin";
  font-size: 20px;
}

.shopping-list-total-cost {
  width: 30%;
  margin: 0 1.5%;
  height: 100%;
  line-height: 60px;
  float: left;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  font-family: 'myriad-thin';
  color: #000;
}

.shopping-list-item-coles-container {
  width: 50%;
  height: 100%;
  float: left;
  background-color: rgba(255, 0, 0, 0.1);
  position: relative;
}

.shopping-list-item-woolies-container {
  width: 50%;
  height: 100%;
  float: left;
  background-color: rgba(20, 177, 42, 0.1);
  position: relative;
}

.shopping-list-price-container {
  width: 180px;
  height: 100%;
  position: absolute;
  top: 0;
}

.shopping-list-price-kle {
  height: 40px;
  line-height: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.shopping-list-price-item {
  height: 20px;
  padding-top: 8px;
  font-size: 26px;
}

.shopping-list-price-container.coles {
  right: 0;
  padding-right: 25px;
  text-align: right;
}

.shopping-list-price-container.woolies {
  left: 0;
  padding-left: 25px;
  text-align: left;
}

.shopping-list-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}

.shopping-list-name-container {
  line-height: 70px;
  font-size: 20px;
  text-transform: capitalize;
}

.shopping-list-dropdown-button {
  font-size: 20px;
  color: rgba(5, 40, 75, 1);
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.shopping-list-dropdown-container {
  width: 260px;
  padding-top: 40px;
  position: absolute;
  top: 25px;
  height: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.shopping-list-dropdown-option {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background-color: rgba(5, 40, 75, 0.6);
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.search-button {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../assets/img/search-icon.png");
  background-size: 100% 100%;
  z-index: 9;
  cursor: pointer;
}

.shopping-list-name-container.coles {
  text-align: center;
  margin-left: 0;
}

.shopping-list-item-container .shopping-list-price-container.cheaper {
  border-color: rgba(5, 40, 75, 1);
  border: solid 1px;
}

.shopping-list-name-container.woolies {
  text-align: center;
  margin-right: 0%;
}

.shopping-list-logo.coles {
  left: 0;
  background: url('assets/img/coles-logo.png');
}

.shopping-list-logo.woolies {
  right: 0;
  background: url('assets/img/woolies-logo.png');
}

.intro-title {
  font-size: 54px;
  width: 100%;
  position: absolute;
  top: 120px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #fff;
}

.top-bar .logo {
  font-family:"myriad-bold";
  line-height: 60px;
  font-size: 26px;
  margin-left: 30px;
  float: left;
}

.tt-suggestions {
  color: #fff;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
}

.tt-suggestion {
  line-height: 50px;
  height: 50px;
}

.top-bar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #05284b;
}

.tt-cursor {
  background-color: #4a4663;
  height: 50px;
  line-height: 50px;
}

.tt-dropdown-menu {
  width: 100%;
  text-align: left;
  color: #fff;
  background-color: #031a30;
}

.search-container {
  width: 100%;
  position: relative;
  margin-top: 12px;
}

.searchbar {
  width: 500px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  padding-left: 10px;
  font-size: 16px;
  border: 0;
}

.typeahead-wrapper {
  width: 500px;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  font-size: 20px;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.searchresults-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* More Results CSS */

.more-results-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1000;
}

/* Font imports */

@font-face {
  font-family: 'myriad-thin';
  src: url('font/MYRIADPRO-COND.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriad-bold';
  src: url('font/MYRIADPRO-SEMIBOLD.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('font/helvetica/HelveticaNeue.otf');
  font-weight: normal;
  font-style: normal;
}